.iconosCard {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: .9rem;
  color: $color-primario;
}

button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  color: $color-primario;
  outline: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}