.banner {
  background-image: linear-gradient($color-auxiliar, $color-primario);
  margin: 0;
  width: 80%;
  height: 600px;
}
.tittle {
  position: absolute;
  top: 150px;
  left: 0;
  padding: 3px 20px 3px;
  text-transform: uppercase;
  color: $color-secundario;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: $color-primario;
}