.home {
  padding: 50px 20px;
  @include media(desktop-s){
    @include display-grid;
    @include grid-template-columns(3fr 1fr)
  }
  @include media(desktop-l){
    @include display-grid;
    @include grid-template-columns(4fr 1fr)
  }
  &__new {
    display: none;
    @include media(desktop-s){
      display: block;
    }
    h3{
      color: $color-primario;
      margin-left: 25px;
      font-size: .9rem;
    }
  }
  &__article {
    background-color: $color-secundario;
    height: 100%;
    padding: 20px;
  }
}