.home {
  padding: 50px 20px;
  @include media(desktop-s){
    @include display-grid;
    @include grid-template-columns(3fr 1fr)
  }
  @include media(desktop-l){
    @include display-grid;
    @include grid-template-columns(4fr 1fr)
  }
  &__new {
    display: none;
    @include media(desktop-s){
      display: block;
    }
    h3{
      
      margin-left: 25px;
      font-size: .9rem;
      color: $color-primario;
    }
    hr {
      width: 120px;
      size: 20px;
      color: $color-primario;
     }
  }
  &__article {
    height: 100%;
    padding: 20px;
    background-color: $color-secundario;
  }
  &__tittle {
    display: flex;
  }
}