.user {
  display: none;
  align-items: center;
  padding-top: 5px;
  width: 150px;
  height: 60px;
  @include media(desktop-s) {
    display: flex;
  }
  i {
    margin-right: 20px;
    color: $color-secundario;
  }
  &__avatar {
    display: flex;
    align-items: center;
  }
  &__avatar--img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
    
  }
  button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  outline: none;
  color: $color-secundario;
  }
  &__icon {
    position: relative;
    h6 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 7px;
      border-radius: 50%;
      background-color: $color-auxiliar;
      border: 1px solid $color-auxiliar;
    }
  }
}