.search {
  display: none;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  font-size: .9rem;
  @include media(desktop-s) {
    display: flex;
  }
  &__button {
    border-top-left-radius: 15px;
    background-color: white;
    border: none;
    margin-right: 2px;
    outline: 0;
    cursor: pointer;
    color:$color-auxiliar;
  }
  &__box {
    border: none;
    width: 300px;
    outline: none;
    border-bottom-right-radius: 15px;
  }
}